{% extends 'Files/base.html' %}
{% block content %}

<section id="about" class="p2 mt-3 container  mb-4" >
    <div id="aboutme" class="mt-3">
        <h2>About Us</h2>

        <p>Founded in 2018, Biteschool has been helping students in Tanzania to receive a better education. This site is
            an
            effort to provide resources for any and
            all advanced students in Tanzania to help them in their studies. It is also for teachers looking for
            much-needed
            resources to aid
            in their teaching. For more information about Bite school, visit our website.

            Our mission is…<br><br>

            <i> <b>“We light up your Future.”</b> </i> 
        </p>
    </div>
    <div id="details">
        <h4>Contact</h4>
        <p>name : Teacher Williambituro</p>
        <p>phone: +255756236659</p>
        <p>email: williambituro@gmail.com</p>
    </div>
</section><!-- end of About section -->

<p class="p2 container">&copy; Copyright {%now "Y" %}</p>
{% endblock content %}
