{% extends 'Files/base.html' %}
{% block content %}
  <!-- Useful websites Section
           ================================================== -->
           <section id="Useful Websites" class="p1 container mb-4">
            <h3>Useful Websites</h3>
            <table class="table table-hover table-sm">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Title</th>
                        <th scope="col">Description</th>
        
                    </tr>
                </thead>
                <tbody>
                
                    <tr>
                        <th scope="row">1</th>
                        <td><a href="https://www.youtube.com/channel/UCexW6DWc1ImHsQmHbyX9v4A"><u>biteschool</u></a></td>
                        <td>Lectures</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td><a href="https://Khanacademy.org"><u>khan Academy</u></a></td>
                        <td>Videos for many subject</td>
                    </tr>
                  
            </table>
           
        </section><!-- end of Books & Notes section -->
        <p class="p2 container">&copy; Copyright 2022</p>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
        <script src="Js/app.js"></script>
{% endblock content %}